[submodule "tools/djlink"]
	path = tools/djlink
	url = https://gitlab.com/makesthingsxyz/8086-dos-dev/djlink
[submodule "tools/pce"]
	path = tools/pce
	url = https://gitlab.com/makesthingsxyz/8086-dos-dev/pce
